/* the whole page wrapper */
.PDP-container {
  display: flex;
  position: absolute;
  top: 10vh;
  width: 100%;
  height: 124vh;
  padding: 3% 10%;
  background-color: #ffffff;
}

/* image slider */
.slider-container {
  display: flex;
  position: relative;
  width: 60%;
  height: 70%;
  margin: 0 3% 0 0;
}

.img-slider {
  display: none;
  width: 100%;
  height: 100%;
}

.prod-img {
  display: block;
  width: 100%;
  height: 100%;
}

/* Next & previous buttons */
.prev-img,
.next-img {
  display: none;
  position: absolute;
  top: 40%;
  padding: 16px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.next-img {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev-img:hover,
.next-img:hover {
  background-color: rgba(94, 203, 123, 0.8);
}

/* thumbnail images */
.row {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(4, 22.75%);
  margin-right: 33px;
  gap: 3%;
  direction: rtl;
}

.column {
  width: 100%;
  height: 100%;
}

.thumbnail-img {
  cursor: pointer;
  opacity: 0.6;
  width: 100%;
  height: 100%;
}

.active,
.thumbnail-img:hover {
  opacity: 1;
}

/* product info */
.info-container {
  width: 25%;
  height: 70%;
}

.prod-name-brand {
  margin: 0 3% 10% 3%;
  font-size: 200%;
}

.prod-brand {
  font-weight: bold;
  margin: 0;
}

.prod-name {
  margin: 5% 0 0 0;
}

/* product price */
.prod-price {
  margin: 10% 3% 3% 3%;
  font-size: 100%;
  font-weight: bold;
}

.prod-att-container-PDP {
  position: relative;
  min-width: 20%;
  height: 100%;
}

.prod-desc {
  margin-left: 3%;
}

.prod-desc > * {
  font-size: 15px;
}

/* for mobile screens */

@media only screen and (max-width: 720px) {
  .PDP-container {
    top: 25vh;
    height: 157vh; /* to cover all the height */
    align-items: start;
    flex-direction: column; /* items aligned vertically*/
    align-items: center;
    justify-content: start;
  }
  .slider-container {
    display: flex;
    align-items: center;
    height: 30%;
  }
  .img-slider {
    height: 100%;
  }
  .prev-img {
    display: block;
    left: -50px;
  }
  .next-img {
    display: block;
    right: -50px;
  }
  .row {
    display: none;
  }
  .info-container {
    width: 100%;
    height: 50%;
    margin: 0;
  }
}
