/* attribute containers */

.prod-att-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 134vh;
  margin: auto;
  background-color: RGB(20, 20, 20, 0.7);
}

.prod-att-container {
  position: relative;
  background-color: #ffffff;
  width: 300px;
  min-width: 20%;
}

.prod-att {
  margin-left: 3%;
  width: 290px;
  height: 70px;
  margin-bottom: 10px;
}

/* attribute name */
.att-name,
.att-name-minicart,
.no-att-lbl {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40%;
  font-weight: bold;
  margin-bottom: 5px;
}

.att-name {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 100%;
}

.att-name-minicart {
  font-size: 120%;
  font-weight: 400 !important;
}

.no-att-lbl-cart {
  margin: 0;
}

.no-att-lbl-minicart {
  margin: 0;
  width: 140px;
  height: 40px;
  font-size: 10px;
}

/* attribute value */

.radio-input {
  opacity: 0;
  position: fixed;
  width: 0;
}

.att-val-span {
  display: inline-flex;
  width: 22%;
  height: 60%;
  justify-content: center;
  align-items: center;
  margin-right: 3%;
  background-color: #ffffff;
  border: 1px solid #000000;
  cursor: pointer;
  font-size: 90%;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

/* not attribute label */
.no-att-lbl {
  justify-content: start;
  height: 10%;
  margin: 3%;
}

/* checked radio input */

input[type="radio"]:checked + .att-val-span {
  background-color: #1d1f22;
  color: #ffffff;
}

input[type="radio"]:checked + .prod-color,
input[type="radio"]:checked + .prod-color-minicart {
  outline: #5ece7b solid 1px;
  outline-offset: 1px;
}

/* popup attribute menu buttons */
.close-btn,
.submit-btn {
  position: absolute;
  border: none;
  cursor: pointer;
  background-color: #5ece7b;
  color: #ffffff;
  user-select: none;
  -webkit-user-select: none;
}

.submit-btn {
  position: relative;
  bottom: 0px;
  width: 94%;
  height: 50px;
  font-size: 90%;
  margin: 3%;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.close-btn {
  top: 1%;
  right: 1%;
  color: #000000;
  background-color: #ffffff;
  font-size: 120%;
}

/* product attributes in cart */

.prod-att-cart {
  width: 230px;
  height: 60px;
  font-size: 14px;
  margin-bottom: 10px;
}

.prod-color {
  width: 11%;
  height: 40%;
}

.prod-color-minicart {
  width: 11%;
  height: 40%;
  margin-right: 5% !important;
}

.prod-att-minicart {
  width: 140px;
  height: 40px;
  font-size: 11px;
  margin-bottom: 10px;
}

/* for mobile screens */

@media only screen and (max-width: 720px) {
  .prod-att-form {
    height: 205vh;
  }
  .prod-att-cart {
    width: 180px;
    height: 50px;
    margin-bottom: 10px;
  }
  .prod-att-cart {
    font-size: 80%;
  }
}
