/* currency navbar container */
#currDropdownContainer {
  margin-right: 5%;
  position: relative;
}

#currBtn {
  font-size: 16px;
  border: none;
  outline: none;
  padding-left: 40px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
}

/* show dropdown menu on hover */
#currDropdownContainer:hover #currDropdownContent {
  display: block;
}

#currDropdownContent {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 100px;
  filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
  z-index: 1;
}

#currDropdownContent p {
  float: none;
  text-align: center;
  margin: 20px 0px 20px 20px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
  user-select: none;
}

/* up and down arrows */
#currArrow {
  position: absolute;
  bottom: 5px;
  right: -8px;
}
