/* cart containers */

.cart-page {
  position: absolute;
  top: 10vh;
  width: 100%;
  min-height: 90vh;
  background-color: white;
  font-size: 20px;
  padding: 10px 0px;
}

.cart-component {
  width: 80%;
  margin: auto;
  position: relative;
}

.cart-name {
  font-size: 170%;
  margin: 0 0 3% 0;
}

/* product container [info, buttons, image] */
.prod-cart {
  width: 100%;
  height: 200px;
  position: relative;
  margin-bottom: 3%;
}

/* product info container [name, brand, price, attributes] */
.prod-info {
  width: 60%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.name-brand-prod {
  font-size: 100%;
}

.prod-price {
  letter-spacing: 0.5px;
  font-size: 80%;
}

/* product attributes */

.prod-att-cart {
  font-size: 80%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 40%;
}

.att-row-cart {
  display: flex;
  align-items: center;
}

.att-name-cart {
  font-size: 110%;
}

.att-val-cart {
  font-size: 90%;
  font-weight: bold;
  margin-left: 2%;
}

/* color attribute */
.prod-color-cart {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #a6a6a6;
  cursor: pointer;
}

/* product image */

.img-cont {
  width: 30%;
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
}

.prod-img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

/* cart buttons */

.quantity-manip-btn {
  display: flex;
  float: right;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 10%;
  height: 100%;
}

.cart-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: none;
  cursor: pointer;
}

.inc-quantity-btn,
.dec-quantity-btn {
  width: 30px;
  height: 30px;
  font-size: 120%;
  background-color: rgba(94, 203, 123, 0.5);
}

.remove-prod,
.close-cart {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70px;
  height: 20px;
  font-size: 80%;
  border-radius: 5px;
  background-color: rgba(94, 203, 123, 1);
}

.inc-quantity-btn:hover,
.dec-quantity-btn:hover {
  background-color: rgba(94, 203, 123, 1);
}

.quantity-txt {
  font-size: 120%;
}

.clear {
  clear: both;
}

.tot-price {
  font-size: 90%;
  font-weight: bold;
  margin: 0;
}

/* product desctiption */
.prod-desc {
  padding-bottom: 2%;
}

/* for mobile screens */

@media only screen and (max-width: 720px) {
  .cart-page {
    top: 25vh;
    min-height: 126vh;
  }
  .tot-price {
    margin-top: 8%;
  }
}

@media only screen and (max-width: 420px) {
  .cart-page {
    top: 25vh;
    min-height: 126vh;
    font-size: 13px;
  }
  .cart-component {
    width: 98%;
  }
  .inc-quantity-btn,
  .dec-quantity-btn {
    width: 20px;
    height: 20px;
  }
  .remove-prod,
  .close-cart {
    width: 60px;
    height: 20px;
  }
  .tot-price {
    margin-top: 8%;
  }
}
