/* PLP container */
#categContainer {
  display: grid;
  grid-template-columns: repeat(3, 20%);
  grid-template-rows: 5% 40% 40% 2%;
  gap: 1.5vh;
  justify-content: center;
  align-content: start;
}

/* category name*/
p.categName {
  grid-column: 1/4;
  margin: 0;
  font-size: 150%;
  text-align: center;
}

/* product item */

.product-container {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70% 30%;
  border: 1px solid #000000;
  padding: 5%;
  background-color: rgb(255, 252, 249);
  border-radius: 30px;
}

.bef-buy-prod:hover .product-img-container {
  border: 1px solid #5ece7b;
  border-radius: 20px;
}

/* product image */

div.product-img-container {
  position: relative;
  cursor: pointer;
}

img.out-of-stock-img {
  opacity: 0.3;
}

p.out-of-stock-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100%;
  color: #ffffff;
  background-color: RGBA(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 4px;
}

img.product-img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

/* product info */

.product-content {
  text-align: center;
  overflow: auto;
}

.product-name-brand,
.product-price {
  margin: 4% 0 0 0;
}

/* PLP buttons */

/* next and previous buttons */

#changePageBtn {
  grid-column-start: 2;
  grid-row-start: 4;
  text-align: center;
  margin: auto;
  width: 60%;
}

.prev-page-btn,
.next-page-btn {
  padding: 5%;
  font-size: 100%;
  border: 1px solid #000000;
  border-radius: 30px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.prev-page-btn:hover,
.next-page-btn:hover {
  background-color: rgb(255, 252, 249);
}

.prev-page-btn {
  margin-right: 2%;
  margin-bottom: 2%;
}

/* add product button */

.add-cart-btn-plp {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5%;
  right: 5%;
  background-color: #5ece7b;
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 0.5s linear;
}

.add-cart-img-plp {
  width: 80%;
  height: 80%;
}

.bef-buy-prod:hover .add-cart-btn-plp {
  visibility: visible;
  opacity: 1;
}
