nav {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  width: 100%;
}

#currencyCartContainer {
  display: flex;
  /* grid-template-columns: repeat(6, 1fr);
  text-align: center; */
  justify-content: end;
  align-items: center;
  /* height: 100%; */
}

div#webLogoContainer {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  height: 100%;
}

img#webLogo {
  margin: auto;
}
