nav {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  width: 100%;
}

#currencyCartContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

div#webLogoContainer {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  height: 100%;
}

img#webLogo {
  margin: auto;
}
